html {
  overflow-x: hidden;
}

body {
  margin: 1em;
}
h1 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#userInfo {
  margin-left:0.5em;
}
#userEmail {
  margin-left: 0.25em;
}
#btnLogout {
  margin-left: 0.5em;
}
